{% extends 'base.html' %}
{% block content %}
<div class='article-display'>
<h2>{{ article.title }}</h2>
<p>{{ article.body }}</p>
<h3>{{article.published_date }}</h3>
<p class='author'>{{ article.author }}</p>
</div>

<div class="comments">
{% for comment in article.comments.all %}
  <span class="name">{{ comment.name }}</span> <span class="comment-time">{{comment.created_at}}</span>
  <p class="message">{{comment.message}}</p>
    {%endfor%}
</div>

<form action="{% url 'create_comment' %}" method="post">
  {% csrf_token %}
  <input type="hidden" name="article" value="{{ article.pk }}"/>
  <label for="name">
    <!-- <span>Name:</span> -->
    <input id="name" type="text" name='name' placeholder="Name">
  </label>
  <label for="new-comment">
    <!-- <span>Comment:</span> -->
    <input id="new-comment" type="text" name="new-comment" placeholder="Comment">
    </label>
    <input type="submit" value="submit"/>
</form>

<a href="{%url 'main_page'%}">back</a>
{%endblock%}
