<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>My Blog</title>
  </head>
  <body>
    <h1>Welcome to my blog</h1>
    <p>{{ day }}</p>
    <h2>What is a client?</h2>
    <p>A client is someone who is opperating the webpage</p>
    <h2>what is a server?</h2>
    <p>A server is where all the data for your webpage is stored.</p>
    <h2>What is a HTTP request?</h2>
    <p>The Hypertext Transfer Protocol (HTTP) is designed to enable communications between clients and servers.</p>
    <h2>What is a HTTP response?</h2>
    <p>An HTTP response is made by a server to a client. The aim of the response is to provide the client with the resource it requested, or inform the client that the action it requested has been carried out; or else to inform the client that an error occurred in processing its request.</p>
    <h2>what is Django and why do we use it?</h2>
    <p>Django is a fram work that uses python. It connects our backend to our front end.</p>
  </body>
</html>
