body {
  background-color: lightgrey;
}

header {
  color: orange;
  background-color: dodgerblue;
  border-bottom: 10px solid white;
  box-shadow: 1px 10px;
  padding: 0;
}

.welcome {
  color: white;
  background-color: grey;
  font-family: 'Asap', sans-serif;
  font-size: 1em;
  text-align: center;
  grid-column: 1 / 3;
  margin: 10px 0 0 0;

}

.article-links {
  background-color: dodgerblue;
}

.main-pic {
  max-width: 20%;
  margin: 0 auto;
  text-align: center;
  display: block;
}

a {
font-family: 'Asap', sans-serif;
display: block;
text-align: center;
text-decoration: none;
font-size: 3em;
color: orange;
}

a:hover {
  color: white;
  background-color: purple;
}

.article-links:hover {
  background-color: purple;
}

.main-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 70%;
  margin: auto;
}

.article-display {
  width: 75%;
  margin: 10px auto 0;
  background-color: navy;
}

h2, h3 {
  font-family: 'Righteous', cursive;
  color: orange;
  padding: 5px;
  margin: 0;
  }

p {
  font-family: 'Asap', sans-serif;
  color: white;
  padding: 10px;
}

.author {
  font-family: 'Permanent Marker', cursive;
}
